<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
		
		
	<!--<bean  class="com.Springcore.BeanOrPojo" name="student1">
	   
	   
	    <property name="Studentid">
	      <value>2003072</value>    
	    </property>
	
	    <property name="student_name">
	      <value>Kashinath KOlekar</value>
	    </property>
	    
	    <property name="StudentAdd">
	      <value>Shirala</value>
	    </property>
	
	
	
	</bean>	
	-->
	
	<!-- Value as Attribuat -->
	<!--  <bean  class="com.Springcore.BeanOrPojo" name="student1">
	   
	   
	    <property name="Studentid" value="2003072"/>
	      
	    
	
	    <property name="student_name" value="Kashinath KOlekar"/>
	      
	    
	    <property name="StudentAdd" value="Shirala"/>
	     
	
	</bean>	
		-->
		
	<!-- using p scma-->
		
		<bean  class="com.Springcore.BeanOrPojo" name="student1"  p:Studentid="2003071" p:student_name="Shree Patil" p:StudentAdd ="REd"/>
	  
	
</beans>